<html>
    <head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB_EQNTGZ_Wh-9FiI_rNsfQqShwytuBhwU&amp;callback=initMap" type="text/javascript"></script>
 
  <link rel="stylesheet" href="styles.css">

  <title>weather Forecast </title>

<script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/1/common.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/1/util.js"></script><script type="text/javascript" charset="UTF-8" src="https://maps.googleapis.com/maps-api-v3/api/js/33/1/stats.js"></script>
</head>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Forcast</title>

<body>
    <style>
        .summary {
    color: brown;

  }
    </style>
    <h1 class="summary">{{summary}} :)</h1>
    <table class="table table-hover">
      <thead><tr>
          
          <th>Temperature:{{temp}}</th></tr>
          <th>Apparent Temperature:{{apparenttemp}}</th></tr>
          <th>windSpeed:{{windspeed}}</th></tr>
          <th>Humidity:{{humidity}}</th>
          </tr></thead>
          
          </table>
</body>
</html>